.container {
  width: 1164px;
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.flex li {
  margin-left: 30px;
}
.flex li a {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.flex li a:hover {
  color: #ed165f;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #ed165f;
  padding: 0 0 5px 0;
}

.search-input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px;
}
